/* body的公共样式 */
body {
    font: 14px/1.5 "Microsoft YaHei",Tahoma,"simsun",sans-serif;
    color: #333;
}
.top_wrapper {
    width: 980px;
    margin: 0 auto;
}

.header_wrapper {
    width: 1300px;
    margin: 0 auto;
}

.main_wrapper {
    width: 1200px;
    margin: 0 auto;
}

.nowrap_ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* 新闻类型的图标 */
.news_type::before {
    display: inline-block;

    width: 32px;
    height: 16px;
    margin-left: 2px;

    line-height: 16px;
    text-align: center;
    font-size: 12px;

    border: 1px solid red;
    border-radius: 2px;
}

.news_type_hot::before {
    content: "热门";
    color: #ff3636;
    border-color: #ff3636;
}

.news_type_notice::before {
    content: "公告";
    color: #f4be19;
    border-color: #f4be19;
}
  
.news_type_news::before {
    content: "新闻";
    color: #1e96ab;
    border-color: #1e96ab;
}