body, h1, h2, h3, ul, li, p, i{
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    vertical-align: top;
}

ul, li, ol {
    list-style: none;
}

/* 对斜体元素重置 */
i, em {
    font-style: normal;
  }
  