<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div id="app">
    <label for="male">
      <input type="radio" id="male" value="male" v-model="gender">男
    </label>
    <label for="remale">
      <input type="radio" id="remale" value="remale" v-model="gender">女
    </label>
    <h2>性别：{{ gender }}</h2>
  </div>
  
  <script src="../lib/vue.js"></script>
  <script>
    // 1.创建app
    const app = Vue.createApp({
      // data: option api
      data: function() {
        return {
          gender: ""
        }
      },
    })

    // 2.挂载app
    app.mount("#app")
  </script>
</body>
</html>